﻿@model ArrestEditViewModel
@{
    Layout = "_Layout";
}

<h1>Arrest</h1>

<div>
    <form>
        <input type="hidden" asp-for="ArrestId" value="@Model.ArrestId" />

        <table class="edit-form-table">
            @if (@Model.ArrestId.HasValue)
            {
                <tr>
                    <th scope="row">ID</th>
                    <td>
                        <input type="text" value="@Model.ArrestId" disabled />
                    </td>
                </tr>
            }
            <tr>
                <th scope="row">Detention date</th>
                <td>
                    <input id="detentionDate"
                           asp-for="DetentionDate"
                           asp-format="{0:yyyy-MM-ddTHH:mm}"
                           type="datetime-local"
                           name="DetentionDate"
                           value="@Model.DetentionDate?.ToString("yyyy-MM-ddTHH:mm")"
                           max="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                           onchange="setMinDeliveryDate()"
                           size="65" />
                    <span asp-validation-for="DetentionDate"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Delivery date</th>
                <td>
                    <input id="deliveryDate"
                           asp-for="DeliveryDate"
                           asp-format="{0:yyyy-MM-ddTHH:mm}"
                           type="datetime-local"
                           name="DeliveryDate"
                           value="@Model.DeliveryDate?.ToString("yyyy-MM-ddTHH:mm")"
                           min=""
                           onchange="setMinReleaseDate()"
                           size="65" />
                    <span asp-validation-for="DeliveryDate"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Release date</th>
                <td>
                    <input id="releaseDate"
                           asp-for="ReleaseDate"
                           asp-format="{0:yyyy-MM-ddTHH:mm}"
                           type="datetime-local"
                           name="ReleaseDate"
                           value="@Model.ReleaseDate?.ToString("yyyy-MM-ddTHH:mm")"
                           min=""
                           size="65" />
                    <span asp-validation-for="ReleaseDate"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Detainee ID</th>
                <td>
                    <input type="text"
                           name="DetaineeId"
                           value="@Model.DetaineeId"
                           size="65"
                           disabled />
                    <input type="hidden"
                           asp-for="DetaineeId"
                           value="@Model.DetaineeId" />
                </td>
            </tr>
            <tr>
                <th scope="row">Detention place</th>
                <td>
                    <input type="text" 
                           asp-for="DetentionPlace" 
                           name="DetentionPlace" 
                           maxlength="150" 
                           size="65" />
                    <span asp-validation-for="DetentionPlace"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Estimated amount</th>
                <td>
                    <input type="text"
                           id="estimatedAmount"
                           asp-for="EstimatedAmount"
                           name="EstimatedAmount"
                           value="@Model.EstimatedAmount" />
                    <span asp-validation-for="EstimatedAmount"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Paid amount</th>
                <td>
                    <input type="text"
                           asp-for="PaidAmount"
                           name="PaidAmount"
                           value="@Model.PaidAmount" />
                    <span asp-validation-for="PaidAmount"></span>
                </td>
            </tr>
        </table>

        @if (Model.Officers.Any())
        {
            <div class="edit-form-buttons-panel">
                <input type="submit"
                       name="save"
                       class="green-btn"
                       value="Save"
                       formaction="/Arrests/SaveChanges"
                       formmethod="post" />
            </div>
        }
        else
        {
            <div>
                <h1 class="user-panel">To add a new arrest (or save changes), add some officers.</h1>
            </div>
        }

        @if (Model.AvailableOfficers != null && Model.AvailableOfficers.Any())
        {
            string dataValueField = "OfficerId";
            string dataTextField = "FullName";

            <p>Available officers</p>
            <select asp-for="SelectedOfficerId" asp-items="@new SelectList(Model.AvailableOfficers,dataValueField,dataTextField)"></select>
            <input type="submit"
                   name="addOfficer"
                   class="green-btn"
                   value="Add Officer"
                   formaction="/Arrests/AddOfficer"
                   formmethod="post" />
        }

        @if (Model.Officers != null && Model.Officers.Count > 0)
        {
            <h1>Officers</h1>
            <table class="bordered-table">
                <tr>
                    <th scope="col" width="85px" height="30px">Officer ID</th>
                    <th scope="col" width="150px" height="30px">Last name</th>
                    <th scope="col" width="150px" height="30px">First name</th>
                    <th scope="col" width="150px" height="30px">Middle name</th>
                    <th scope="col" width="200px" height="30px">Title</th>
                    <th scope="col" width="85px" height="30px">Action</th>
                </tr>

                @{int index = 0;}
                @foreach (var officer in Model.Officers)
                {
                    <tr>
                        <td>
                            @officer.OfficerId
                            <input type="hidden" asp-for="Officers[index].OfficerId" value="@officer.OfficerId" />
                        </td>
                        <td>
                            @officer.LastName
                            <input type="hidden" asp-for="Officers[index].LastName" value="@officer.LastName" />
                        </td>
                        <td>
                            @officer.FirstName
                            <input type="hidden" asp-for="Officers[index].FirstName" value="@officer.FirstName" />
                        </td>
                        <td>
                            @officer.MiddleName
                            <input type="hidden" asp-for="Officers[index].MiddleName" value="@officer.MiddleName" />
                        </td>
                        <td>
                            @officer.Title
                            <input type="hidden" asp-for="Officers[index].Title" value="@officer.Title" />
                        </td>
                        <td width="30px">
                            <input type="submit"
                                   name="removeOfficer"
                                   class="green-btn"
                                   value="Remove"
                                   formaction="/Arrests/RemoveOfficer/@officer.OfficerId"
                                   formmethod="post" />
                        </td>
                    </tr>

                    index++;
                }
            </table>
        }
    </form>
</div>

<script>
    function setMinDeliveryDate() {
        let detentionDate = $('#detentionDate').val();

        $('#deliveryDate').attr('min', detentionDate);
    }

    function setMinReleaseDate() {
        let deliveryDate = $('#deliveryDate').val();

        $('#releaseDate').attr('min', deliveryDate);
    }
</script>