﻿@{
    Layout = "_Layout";
}
@model SearchViewModel

<div id="search-form">
    <div class="search-form-row">
        <div class="search-form-col-75">
            <div class="search-form-container">
                <form form asp-action="GetSearchResult" asp-controller="Search" method="post">
                    <div class="search-form-row">
                        <div class="search-form-col-50">
                            <h3>Search criteria</h3>
                            <label for="firstName"> First name </label>
                            <input type="text"
                                   asp-for="FirstName"
                                   value="@Model.FirstName"
                                   name="FirstName"
                                   maxlength="50"
                                   placeholder="Sherlock">
                            <label for="lastName"> Last name </label>
                            <input type="text"
                                   asp-for="LastName"
                                   value="@Model.LastName"
                                   name="LastName"
                                   maxlength="50"
                                   placeholder="Holmes">
                            <label for="middleName"> Middle name</label>
                            <input type="text"
                                   asp-for="MiddleName"
                                   value="@Model.MiddleName"
                                   name="MiddleName"
                                   maxlength="50"
                                   placeholder="William Scott">
                            <label for="homeAdress"> Home adress</label>
                            <input type="text"
                                   asp-for="HomeAdress"
                                   value="@Model.HomeAdress"
                                   name="HomeAdress"
                                   maxlength="150"
                                   placeholder="221B Baker Street, London // Mogilev">
                            <label for="detentionDate"> Detention date </label>
                            <input type="date"
                                   asp-for="DetentionDate"
                                   value="@Model.DetentionDate"
                                   name="DetentionDate"
                                   placeholder="Detention date">
                        </div>
                    </div>
                    <input type="submit"
                           value="Search"
                           class="btn-search"
                           asp-action="GetSearchResult"
                           asp-controller="Search">
                </form>
            </div>
        </div>
    </div>

    <div class="search-form-table">
        @if (Model.DetaineesList != null && Model.DetaineesList.Count() != 0)
        {
            <h3>Search result</h3>

            <table class="bordered-table">
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Middle name</th>

                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        <th>More information</th>
                    }
                </tr>

                @foreach (var detainee in Model.DetaineesList)
                {
                    <tr>
                        <td>@detainee.DetaineeId</td>
                        <td>@detainee.FirstName</td>
                        <td>@detainee.LastName</td>
                        <td>@detainee.MiddleName</td>

                        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                        {
                            <td>
                                <a href="/Home/Details/@detainee.DetaineeId" target="_blank">Details</a>
                            </td>
                        }
                    </tr>
                }
            </table>
        }
    </div>
</div>