﻿@model OfficersViewModel
@{ Layout = "_Layout"; }


<h1>Personal information</h1>
<div>

    @{ var action = Model.OfficerId == null ? "AddOfficer" : "SaveChanges"; }

    <form asp-action=@action asp-controller="Officers" method="post">
        <input type="hidden" asp-for="OfficerId" value="@Model.OfficerId" />
        <table class="edit-form-table">
            <tr>
                <th scope="row">Last name</th>
                <td>
                    <input type="text" name="LastName" asp-for="LastName" value="@Model.LastName" maxlength="50" size="65" />
                    <span asp-validation-for="LastName"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">First name</th>
                <td>
                    <input type="text" name="FirstName" asp-for="FirstName" value="@Model.FirstName" maxlength="50" size="65" required />
                    <span asp-validation-for="FirstName"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Middle name</th>
                <td>
                    <input type="text" name="MiddleName" asp-for="MiddleName" value="@Model.MiddleName" maxlength="50" size="65" />
                </td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>
                    <input type="text" name="Title" asp-for="Title" value="@Model.Title" maxlength="50" size="65" />
                    <span asp-validation-for="Title"></span>
                </td>
            </tr>
        </table>

        <div class="edit-form-buttons-panel">
            @if (Model.OfficerId != null)
            {
                <input class="green-btn" type="submit" value="Save changes" />
            }
            else
            {
                <input class="green-btn" type="submit" value="Add Officer" />
            }
        </div>
    </form>
</div>

<div id="officers-table">
    @if (Model.AllOfficers.Any())
    {
        <h1>All officers</h1>
    }
    
    <table class="bordered-table">

        @if (Model.AllOfficers.Count() != 0)
        {
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Middle name</th>
                <th>Title</th>
                <th colspan="2">Action</th>
            </tr>
        }

        @foreach (var officer in Model.AllOfficers)
        {
            <tr>
                <td>@officer.OfficerId</td>
                <td>@officer.FirstName</td>
                <td>@officer.LastName</td>
                <td>@officer.MiddleName</td>
                <td>@officer.Title</td>
                <td>
                    <a href="/Officers/Delete/@officer.OfficerId">Delete</a>
                </td>
                <td>
                    <a href="/Officers/Edit/@officer.OfficerId">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>
