﻿@model Detainee
@{ Layout = "_Layout"; }

<h1>Personal information</h1>

<div class="detainee-edit-form">
    <form asp-action="EditPersonalInformation" asp-controller="Home" method="post">
        <table class="edit-form-table">
            <tr>
                <th scope="row">ID</th>
                <td>
                    @Model.DetaineeId
                    <input type="number" name="DetaineeId" value="@Model.DetaineeId" hidden />
                </td>
            </tr>
            <tr>
                <th scope="row">Last name</th>
                <td>
                    <input type="text" name="LastName" asp-for="LastName" maxlength="50" size="65" />
                    <span asp-validation-for="LastName"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">First name</th>
                <td>
                    <input type="text" name="FirstName" asp-for="FirstName" maxlength="50" size="65" />
                    <span asp-validation-for="FirstName"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Middle name</th>
                <td>
                    <input type="text" name="MiddleName" asp-for="MiddleName" maxlength="50" size="65" />
                </td>
            </tr>
            <tr>
                <th scope="row">Birth date</th>
                <td>
                    <input type="date" name="BirthDate" asp-for="BirthDate" asp-format="{0:yyyy-MM-dd}" size="65" />
                    <span asp-validation-for="BirthDate"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Marital status</th>
                <td>
                    <input type="text" name="MaritalStatus" asp-for="MaritalStatus" maxlength="10" size="65" />
                </td>
            </tr>
            <tr>
                <th scope="row">Work place</th>
                <td>
                    <input type="text" name="WorkPlace" asp-for="WorkPlace" maxlength="100" size="65" />
                    <span asp-validation-for="WorkPlace"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Home adress</th>
                <td>
                    <input type="text" name="HomeAdress" asp-for="HomeAdress" maxlength="150" size="65" />
                    <span asp-validation-for="HomeAdress"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Phone number</th>
                <td>
                    <input type="text" name="PhoneNumber" asp-for="PhoneNumber" maxlength="50" size="65" />
                </td>
            </tr>
            <tr>
                <th scope="row">Additional</th>
                <td>
                    <input type="text" name="Additional" asp-for="Additional" maxlength="300" size="65" />
                </td>
            </tr>
        </table>

        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
        {
            <div class="detainee-edit-panel">
                <input class="green-btn" type="submit" value="Save changes" />
                <input class="green-btn" type="button" value="Delete detainee" onclick="location.href = '@Url.Action("DeleteDetainee", "Home", new {id = Model.DetaineeId})'" />
                <input class="green-btn" type="button" value="Add arrest" onclick="location.href = '@Url.Action("Add", "Arrests", new {detaineeID = Model.DetaineeId})'" />
            </div>
        }

        <input type="hidden" value="@Model.Photo" asp-for="Photo" />
        <input type="hidden" value="@Model.Arrests" asp-for="Arrests" />
    </form>

    <div class="file-upload">
        <img src="@Model.Photo" alt="Detainee photo" width="300" height="400">

        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
        {
            <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="DetaineeId" value="@Model.DetaineeId" />

                <input class="custom-file-input"
                       style="opacity: 1 !important;"
                       type="file"
                       name="uploadedFile"
                       accept="image/*" />
                <br>
                <input class="uploadButton" type="submit" value="Upload" />
            </form>
        }
    </div>
</div>

<div id="arrests-table">
    <h1>Arrests</h1>

    <table class="bordered-table">

        <tr>
            <th scope="col" width="85px" height="30px">Arrest ID</th>
            <th scope="col" width="150px" height="30px">Detention date</th>
            <th scope="col" width="150px" height="30px">Delivery date</th>
            <th scope="col" width="150px" height="30px">Release date</th>
            <th scope="col" width="150px" height="30px">Detention place</th>
            <th scope="col" width="135px" height="30px">Estimated amount</th>
            <th scope="col" width="110px" height="30px">Paid amount</th>
            <th scope="col" width="320px" height="30px">Officers</th>

            @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
                <th scope="col" width="85px" height="30px" colspan="2">Actions</th>
            }
        </tr>

        @foreach (var arrest in Model.Arrests)
        {
            <tr>
                <td>@arrest.ArrestId</td>
                <td>@arrest.DetentionDate</td>
                <td>@arrest.DeliveryDate</td>
                <td>@arrest.ReleaseDate</td>
                <td>@arrest.DetentionPlace</td>
                <td>@arrest.EstimatedAmount?.ToString("0.00")</td>
                <td>@arrest.PaidAmount?.ToString("0.00")</td>
                <td>
                    @foreach (var officer in arrest.Officers)
                    {
                        <p>@officer.FirstName @officer.LastName @officer.MiddleName [@officer.Title]</p>
                    }
                </td>

                @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                {
                    <td width="30px">
                        <a href='@Url.Action("Edit", "Arrests", new { arrestId = @arrest.ArrestId, detaineeId = @Model.DetaineeId})'>Edit</a>
                    </td>
                    <td width="30px">
                        <a href='@Url.Action("Delete", "Arrests", new { arrestId = @arrest.ArrestId, detaineeId = Model.DetaineeId})'>Remove</a>
                    </td>
                }
            </tr>
        }
    </table>
</div>