﻿@model Detainee
@{
    Layout = "_Layout";
}


<h1>Personal information</h1>
<div class="detainee-edit-form">
    <form asp-action="CreateDetainee" asp-controller="Home" method="post">
        <table class="edit-form-table">
            @if (Model.DetaineeId != 0)
            {
                <tr>
                    <th scope="row">ID</th>
                    <td>
                        @Model.DetaineeId
                        <input type="number" name="DetaineeId" value="@Model.DetaineeId" hidden />
                    </td>
                </tr>
            }
            <tr>
                <th scope="row">Last name</th>
                <td>
                    <input type="text" name="LastName" asp-for="LastName" maxlength="50" size="65" />
                    <span asp-validation-for="LastName"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">First name</th>
                <td>
                    <input type="text" name="FirstName" asp-for="FirstName" maxlength="50" size="65" />
                    <span asp-validation-for="FirstName"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Middle name</th>
                <td>
                    <input type="text" name="MiddleName" asp-for="MiddleName" maxlength="50" size="65" />
                </td>
            </tr>
            <tr>
                <th scope="row">Birth date</th>
                <td>
                    <input type="date" name="BirthDate" asp-for="BirthDate" asp-format="{0:yyyy-MM-dd}" size="65" />
                    <span asp-validation-for="BirthDate"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Marital status</th>
                <td>
                    <input type="text" name="MaritalStatus" asp-for="MaritalStatus" maxlength="10" size="65" />
                </td>
            </tr>
            <tr>
                <th scope="row">Work place</th>
                <td>
                    <input type="text" name="WorkPlace" asp-for="WorkPlace" maxlength="100" size="65" />
                    <span asp-validation-for="WorkPlace"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Home adress</th>
                <td>
                    <input type="text" name="HomeAdress" asp-for="HomeAdress" maxlength="150" size="65" />
                    <span asp-validation-for="HomeAdress"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">Phone number</th>
                <td>
                    <input type="text" name="PhoneNumber" asp-for="PhoneNumber" maxlength="50" size="65" />
                </td>
            </tr>
            <tr>
                <th scope="row">Additional</th>
                <td>
                    <input type="text" name="Additional" asp-for="Additional" maxlength="300" size="65" />
                </td>
            </tr>
        </table>
        <div class="detainee-edit-panel">
            <input class="green-btn" type="submit" value="Add Detainee" />
        </div>
    </form>
</div>