﻿
@model IEnumerable<Detainee>
@{
    ViewData["Title"] = "List of detaines";
    Layout = "_Layout";
}


<table class="bordered-table">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Middle name</th>
        <th>More information</th>
    </tr>

    @foreach (var detainee in Model)
    {
        <tr>
            <td>@detainee.DetaineeId</td>
            <td>@detainee.FirstName</td>
            <td>@detainee.LastName</td>
            <td>@detainee.MiddleName</td>
            <td>
                <a href="/Home/Details/@detainee.DetaineeId">Details</a>
            </td>
        </tr>
    }
</table>
