﻿body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}

.bordered-table {
    margin-top: 10px;
}

    .bordered-table th,
    .bordered-table td {
        border: 2px solid #ddd;
        padding: 15px;
    }

    .bordered-table th {
        text-align: center;
    }

    .bordered-table td {
        text-align: left;
    }

    .bordered-table table {
        border-collapse: collapse;
        width: 65%;
    }

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.navigation li {
    float: left;
}

    .navigation li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .navigation li a:hover:not(.active) {
            background-color: #ddd;
        }

        .navigation li a.active {
            color: white;
            background-color: #4CAF50;
        }

.green-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 24px;
    border-radius: 12px;
}

.user-panel {
    margin: 20px 0px;
}

#users-table {
    margin-top: 20px;
}

/* Styles for Detaineee details page */

.detainee-edit-form {
    display: flex;
    align-self: flex-start;
}

.detainee-edit-panel {
    margin-top: 20px;
}

#arrests-table {
    margin-top: 20px;
    align-self: flex-start;
}

#officers-table {
    margin-top: 20px;
}


.edit-form-buttons-panel {
    margin-top: 20px;
}

.edit-form-table td, .edit-form-table th {
    border: 5px solid #ddd;
    text-align: left;
    border-collapse: collapse;
    padding: 8px;
}

.edit-form-table th {
    width: 110px;
}

.edit-form-table td {
    width: 500px;
}

.edit-form-table input[type=text], select {
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

.file-upload {
    margin-left: 40px;
}

.uploadButton {
    content: 'Upload';
    color: white;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: #4CAF50;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 12px;
}

.custom-file-input {
    color: transparent;
}

    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Select some image';
        color: white;
        border: 1px solid #ccc;
        display: inline-block;
        background-color: #4CAF50;
        padding: 7px 15px;
        cursor: pointer;
        border-radius: 5px;
        margin: 0;
    }

    .custom-file-input::after {
        content: 'Select some image';
    }

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active {
        outline: 0;
    }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }

/* Validation styles */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48 !important;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Search form */

.search-form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
    padding: 0 16px;
}

.search-form-col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.search-form-col-75 {
    -ms-flex: 75%;
    flex: 75%;
}

.search-form-container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

#search-form input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#search-form label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn-search {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

    .btn-search:hover {
        background-color: darkslategrey;
    }

hr {
    border: 1px solid lightgrey;
}

.search-form-table {
    margin-top: 20px;
}