﻿@model UserEditViewModel
@{
    Layout = "_Layout";
}

<div>
    <form>
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <table class="edit-form-table">
            <tr>
                <th scope="row">Login</th>
                <td>
                    <input type="text" asp-for="Login" value="@Model.Login" maxlength="50"/>
                </td>
            </tr>
            <tr>
                <th scope="row">Password</th>
                <td>
                    <input type="text" asp-for="Password" value="@Model.Password" maxlength="100"/>
                </td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>
                    <input type="text" asp-for="Email" value="@Model.Email" maxlength="100"/>
                </td>
            </tr>
            <tr>
                <th scope="row">Role</th>
                <td>
                    @{ string dataValueField = "Id";
                        string dataTextField = "Name"; }
                    <select asp-for="RoleId" asp-items="@new SelectList(Model.AvailableRoles, dataValueField, dataTextField)"></select>
                </td>
            </tr>
        </table>

        <div class="edit-form-buttons-panel">
            @if (Model.Id == null)
            {
                <input type="submit"
                       name="addUser"
                       class="green-btn"
                       value="Add User"
                       formaction="/Account/AddUser"
                       formmethod="post" />
             }
             else
             {
                <input type="submit"
                       name="saveUser"
                       class="green-btn"
                       value="Save changes"
                       formaction="/Account/SaveUser"
                       formmethod="post" />
             }
        </div>
    </form>
</div>