﻿@model DetentionCentre.Models.RegisterModel
@{ Layout = null; }
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 540px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -38px;
                }

        .field-validation-error {
            color: #b94a48;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            border: 1px solid #b94a48 !important;
        }

        .validation-summary-errors {
            color: #b94a48;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5"> Register form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" asp-action="Register" asp-controller="Account" method="post">
                            <div asp-validation-summary="All"></div>
                            <h3 class="text-center text-info"> Register</h3>
                            <div class="form-group">
                                <label for="Login" class="text-info"> Username:</label> <br>
                                <input type="text" name="Login" class="form-control" maxlength="50">
                                <span asp-validation-for="Login"></span>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="text-info"> Password:</label> <br>
                                <input type="password" name="Password" id="password" class="form-control" maxlength="100">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="text-info"> Confirm password:</label> <br>
                                <input type="password" name="ConfirmPassword" id="confirmPassword" class="form-control" onchange="ValidatePasswordsMatch()" maxlength="100">
                                <span id="message"> </span>
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="text-info"> Email:</label> <br>
                                <input type="text" name="Email" class="form-control" maxlength="100">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a asp-controller="Account" asp-action="Login" class="text-info"> Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function ValidatePasswordsMatch() {
        if ($('#password').val() == $('#confirmPassword').val()) {
            $('#message').html('Passwords are same').css('color', 'green');
        } else
            $('#message').html('Passwords are not same').css('color', 'red');
    }
</script>
