﻿@model IEnumerable<User>

<div>
    <input class="green-btn" type="button" value="Add user" onclick="location.href = '@Url.Action("Add", "Account")'" />
</div>
<div id="users-table">
    <table class="bordered-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Email</th>
                <th>Role</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Login</td>
                    <td>@user.Email</td>
                    <td>@user.Role.Name</td>
                    <td><a href='@Url.Action("EditUser", "Account", new { id = user.Id})'>Edit</a></td>
                    <td><a href='@Url.Action("Delete", "Account", new { id = user.Id})'>Delete</a></td>
                </tr>
             }
        </tbody>
    </table>
</div>
