﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["CurrentPage"] - DetentionCentre</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navigation">
            <ul>
                <li><a class="@(ViewData["CurrentPage"] == "Home" ? "active" : "")" href="/Home">Detainees</a></li>
                <li><a class="@(ViewData["CurrentPage"] == "Search" ? "active" : "")" href="/Search">Search</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        <li>
                            <a class="@(ViewData["CurrentPage"] == "AddDetainee" ? "active" : "")" href="/Home/AddDetainee">Add detainee</a>
                        </li>
                        <li>
                            <a class="@(ViewData["CurrentPage"] == "AddOfficer" ? "active" : "")" href="/Officers">Add officer</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="@(ViewData["CurrentPage"] == "Users" ? "active" : "")" href="/Account/Users">Edit users</a>
                        </li>
                     }
                 }
            </ul>
        </div>
        <div class="user-panel">
            @if (User.Identity.IsAuthenticated)
            {
                <span>Welcome, @User.Identity.Name </span>
                <span>
                    <a href="/Account/Logout">Log out</a>
                </span>
            }
            else
            {
                <span>
                    <a href="/Account/Login">Log in</a>
                </span>
                <span>
                    <a href="/Account/Register">Register</a>
                </span>
            }
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
